.task {
    border: 1px solid #000;
    padding: 10px;
}

.task .header-3 {
    float: left;
    display: block;
}

.task img {
    float: right;
    display: block;
}

.task .reminder {
    border-left: 5px solid green 
}

.task p {
    display: block;
}

.form-control {
    padding:10px
}

.form-control input {
    padding: 10px;
}

.add-form {
    border: 1px solid #000;
    margin: 5%;
    padding: 20px
}

 input[type=submit] {
    cursor: pointer;
    background: #000;
    border: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 5%;
    width: 100%
}