.first {
  background:red
}

.contact-card {
  text-align:center;
  background:#ccc;
  padding: 10px;
  margin-bottom:10px
}

.contact-card img {
  width: 20%
}

.todo {
  background: rgb(126, 23, 23);
  text-align: center;
  color: red
}

.todo p {
  background:rgb(32, 32, 39);
  color:#fff
}

body {
  background: red
}