@import 'config';

body {
    background:red
}

button {
    background: $primaryColor;
    border: none;
    height: 40px;
    width: 80px;
    color: #fff;
}

.first_home {
    background:#ccc;
    height: 60px;
    .inner_home {
        background:green
    }
}