@import 'config';

body {
    background:red;
    padding: 0;
    margin: 0;
}

button {
    background: $primaryColor;
    border: none;
    height: 40px;
    width: 80px;
    color: #fff;
}

.first_home {
    background:#ccc;
    height: 60px;
    .inner_home {
        background:green

    }
    h1 {
        color: $white;
        text-align: center
    }
}